<%- include('partials/head', { cssPath: '/css/result.css' }) %>
<%- include('partials/navbar',{ cssPath: '/css/navbar.css' }) %>

    <!-- [0 - 0.2; LOW], [0.2 - 0.4; MED], [0.4-1.0;HIGH] -->

    <body>
        <main>
        <!-- High Probability -->
        <% if (predict_probability>= 0.4){ %>

            <p>You have a <span id="resultPerHigh">
                    <%= parseFloat(predict_probability * 100).toFixed(2) %>%
                </span>chance of encountering a cardiac arrest</p>

            <div class="suggestionPara">
                We understand that receiving news about a higher risk of heart issues can be concerning and overwhelming.
                Your heart is at the center of your well-being, and we want to support you on your journey towards better health.
                Please know that this prediction is not meant to cause fear but to empower you to take proactive steps.
                Consider reaching out to a healthcare professional who can provide personalized guidance.
                Small changes in lifestyle, such as adopting a heart-healthy diet and incorporating regular exercise, can make a meaningful impact.
                You're not alone in this journey, and we are ready to assist you. Taking the first step towards understanding and managing your heart health is a courageous act.
                Remember, your well-being is worth prioritizing.
                Wishing you strength and good health.
                Below, you'll find essential details such as <strong>Nearest
                    Hospitals</strong> & <strong>Contant Numbers</strong>.
            </div>

            <a href="/nearbyhospitals"><button>Click Here to Check Nearby Hospitals</button></a>

            <!-- Medium Probability -->
            <%} else if (predict_probability < 0.4 && predict_probability>= 0.2){ %>

                <p>You have a <span id="resultPerMed">
                        <%= (predict_probability * 100).toFixed(2) %>%
                        </span>chance of encountering a cardiac arrest</p>

                <a href="/nearbyhospitals"><button>Click Here to Check Nearby Hospitals</button></a>

            <!-- Low Probability -->

                <%} else if (predict_probability < 0.2 && predict_probability>= 0){ %>

                <p>You have a <span id="resultPerLow">
                        <%= (predict_probability * 100).toFixed(2) %>%
                        </span>chance of encountering a cardiac arrest</p>

                <div class="lowProbForm">
                    <div class="mb-3">
                        <label for="DietRoutine" class="form-label">
                            What are your health goals and dietary preferences? <br>
                            This information will help us to improve the advice for your diet routine.</label>
                        <textarea class="form-control" id="DietRoutine" rows="5" name="DietRoutine"></textarea>
                      </div>
                      <div class="mb-3">
                        <label for="ExerciseRoutine" class="form-label">Could you please share your exercise routine with us? </label>
                        <textarea class="form-control" id="ExerciseRoutine" rows="5" name="ExerciseRoutine"></textarea>
                      </div>
                </div>

            
                <div class="lowProbButtons">
                    <button type="submit">Submit</button>
                    <a href="/nearbyhospitals"><button>Click Here to Check Nearby Hospitals</button></a>
                </div>

            <% } else if (predict_probability == NaN) { %>

                <h2>Error Code 69. Report to Developers</h2>

            <% } else { %>

                <h2>Inappropriate Request: Prediction Result Couldn't be Found.</h2>
            
            <% } %>
        </main>
    </body>