<%- include('partials/head', { cssPath: '/css/result.css' }) %>
<%- include('partials/navbar',{ cssPath: '/css/navbar.css' }) %>

    <%- include('partials/loader')%>
    <!-- [0 - 0.2; LOW], [0.2 - 0.4; MED], [0.4-1.0;HIGH] -->

    <body>
        <main>
            <br>
            <br>
            <br>
        <!-- High Probability -->
        <% if (predict_probability>= 0.4){ %>

            <p>You have a <span id="resultPerHigh">
                    <%= parseFloat(predict_probability * 100).toFixed(2) %>%
                </span>chance of encountering a cardiac arrest</p>

            <div class="suggestionPara">
                <p>
                We understand that receiving news about a higher risk of heart issues can be concerning and overwhelming.
                Your heart is at the center of your well-being, and we want to support you on your journey towards better health.
                Please know that this prediction is not meant to cause fear but to empower you to take proactive steps.
                Consider reaching out to a healthcare professional who can provide personalized guidance.
                Small changes in lifestyle, such as adopting a heart-healthy diet and incorporating regular exercise, can make a meaningful impact.
                You're not alone in this journey, and we are ready to assist you. Taking the first step towards understanding and managing your heart health is a courageous act.
                Remember, your well-being is worth prioritizing.
                Wishing you strength and good health.
                Below, you'll find essential details such as <strong>Nearest
                    Hospitals</strong> & <strong>Contact Numbers</strong>.
                </p>
            </div>

            <a href="/nearbyhospitals"><button>Click Here to Check Nearby Hospitals</button></a>

            <!-- Medium Probability -->
            <%} else if (predict_probability < 0.4 && predict_probability>= 0.2){ %>

                <p>You have a <span id="resultPerMed">
                        <%= (predict_probability * 100).toFixed(2) %>%
                        </span>chance of encountering a cardiac arrest</p>
                        <div>
                            <p>
                            Your heart health prediction indicates a medium risk, and we want to empower you to make informed choices for a healthier future. While the risk level is not alarming, it's a crucial moment to take preventive measures.
                            Consider incorporating heart-healthy habits into your lifestyle, such as maintaining a balanced diet, engaging in regular physical activity, and managing stress.
                            Monitoring your health and staying connected with healthcare professionals can play a key role in reducing potential risks.
                            Remember, every positive step you take towards a healthier lifestyle contributes to the well-being of your heart.
                            Take charge of your health, and feel free to consult with a healthcare expert for personalized advice.
                            Wishing you a journey to improved heart health.
                            </p>
                        </div>

                <a href="/nearbyhospitals"><button>Click Here to Check Nearby Hospitals</button></a>

            <!-- Low Probability -->

                <%} else if (predict_probability < 0.2 && predict_probability>= 0){ %>

                <p>You have a <span id="resultPerLow">
                        <%= (predict_probability * 100).toFixed(2) %>%
                        </span>chance of encountering a cardiac arrest</p>
                        <div>
                            <p>
                            Great news! Your heart health prediction indicates a low risk, reflecting positive choices and a healthy lifestyle.
                            Congratulations on your commitment to well-being!
                            While your risk is currently low, it's essential to maintain these positive habits.
                            Continue to prioritize a balanced diet, regular exercise, and stress management to keep your heart in optimal condition.
                            Regular check-ins with healthcare professionals can also provide valuable insights and guidance.
                            Your dedication to a healthy lifestyle is a significant investment in your long-term well-being.
                            Keep up the excellent work and help us improve by providing useful insights below. 
                            Wishing you continued well-being.
                            </p>
                        </div>

                <div class="lowProbForm">
                    <div class="mb-3">
                        <label for="DietRoutine" class="form-label">
                            What are your health goals and dietary preferences? <br>
                            (Sharing this information helps us customize advice to fit your diet and enhance your well-being.)</label>
                        <textarea class="form-control" id="DietRoutine" rows="5" name="DietRoutine"></textarea>
                      </div>
                      <div class="mb-3">
                        <label for="ExerciseRoutine" class="form-label">Could you please share your exercise routine with us? </label>
                        <textarea class="form-control" id="ExerciseRoutine" rows="5" name="ExerciseRoutine"></textarea>
                      </div>
                </div>

            
                <div class="lowProbButtons">
                    <button type="submit">Submit</button>
                    <a href="/nearbyhospitals"><button>Click Here to Check Nearby Hospitals</button></a>
                </div>

            <% } else if (predict_probability == NaN) { %>

                <h2>Error Code 69. Report to Developers</h2>

            <% } else { %>

                <h2>Inappropriate Request: Prediction Result Couldn't be Found.</h2>
            
            <% } %>
        </main>
        <script src="/scripts/loader.js"></script>
    </body>